
body{
    overflow:auto;
}
img {
    width: 250px;
    height: 250px;
    margin-top: 20px;
}

label{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;
    color:cornflowerblue;
}
p{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: larger;
    color:black;
}
h1{
    font-size: 25px;
    background-color:aqua;
}
#div2{
background-color: rgb(42, 39, 39);
width:1490px;
height:fit-content;
border-radius: 0px;
}
h3,h4{
    color: white;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}